n8n-workflow-template.json
{
  "name": "Deer-Flow AI Research Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-research",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "AI Research Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "ai-research-webhook"
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/reports/webhook/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "create"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({report_id: 'n8n_' + $now.format('YYYYMMDD_HHmmss'), content: '# AI研究报告\\n\\n研究主题: ' + $node['AI Research Request'].json.body.topic + '\\n\\n这是通过n8n工作流生成的报告。', metadata: {type: 'n8n_generated', topic: $node['AI Research Request'].json.body.topic, created_by: 'n8n_workflow'}}) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "call-ai-api",
      "name": "Call Deer-Flow API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success: true, message: '报告创建成功', webhook_url: $node['AI Research Request'].json.headers.origin + '/webhook/' + $node['AI Research Request'].json.webhookUrl.split('/').pop(), api_response: $node['Call Deer-Flow API'].json}) }}"
      },
      "id": "response",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "AI Research Request": {
      "main": [
        [
          {
            "node": "Call Deer-Flow API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Deer-Flow API": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "deer-flow-ai-research",
  "tags": []
} 